﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP_Restaurant</title>
    <link href='https://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ASP_Restaurant", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@{Html.RenderAction("CartSummary", "ShoppingCart");}</li>
                    <li>
                        @if (Session["loginSuccess"] != null)
        {
                <li>
                    @Html.ActionLink("Produkty", "Index", "Products")
                </li>
                <li>
                    @Html.ActionLink("Kategorie", "Index", "Categories")
                </li>
                    <div class="nav navbar-nav navbar-loginform">
                        @Html.ActionLink("Wyloguj", "Logout", "UserAdmin", null, new { @class = "btn btn-primary" })
                    </div>
                    }
                    @*@if (@ViewBag.UserAdmin.Name == "Andrzej")
        {

         @Html.ActionLink("Welcome " + @HttpContext.Current.User.Identity.Name + "   Logout", "LogOff", "Accounts")
        }
        else
        {
          @Html.ActionLink("Login", "Login", "UserAdmin")
        }*@
                </li>
</div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p class="text-center"> &copy; @DateTime.Now.Year</p>
    </footer>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
<script src="~/Content/Js/ResponsiveSlider.js"></script>
<script type="text/javascript">$(".rslides").responsiveSlides({
        auto: true, // Boolean: Animate automatically, true or false
        speed: 500 // Integer: Speed of the transition, in milliseconds
    });</script>
<script type="text/javascript">$(document).ready(function () {
            $(".RemoveLink").click(function (e) {
                e.preventDefault();
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });
    })</script>
</body>
</html>
