﻿@model ASP_Restaurant.Models.CustomerOrder
@{
    ViewBag.Title = "Informacje o zamówieniu";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"
        type="text/javascript"></script>
@using (Html.BeginForm())
{
    <div class="weird">
        <h2>Adres</h2>
        <fieldset>
            <legend>Informacje o zamówieniu</legend>
            @Html.EditorForModel()
        </fieldset>
        
            @*<legend>Payment</legend>
            <p>
                We're running a promotion: all item is free
                with the promo code: "FREE"
            </p>*@
            @*<div class="editor-label">
                @Html.Label("Promo Code")
            </div>
            <div class="editor-field">
                @Html.TextBox("PromoCode")
            </div>*@
        
        <input type="submit" value="Wyślij" />
    </div>
}