﻿@model ASP_Restaurant.Models.Category
@{
    ViewBag.Title = @Model.Name;
}

<br />
<br />
<div class="row">
    <div class="col-xs-12 col-md-3">
        <ul class="nav nav-pills nav-stacked">
            @if (Model.Name == "Napoje")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/2">Napoje</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/2">Napoje</a>
                </li>
            }
            @if (Model.Name == "Dania Glowne")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/3">Dania Glowne</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/3">Dania Glowne</a>
                </li>
            }
            @if (Model.Name == "Deser")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/4">Desery</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/4">Desery</a>
                </li>
            }
            @if (Model.Name == "Zupa")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/5">Zupy</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/5">Zupy</a>
                </li>
            }

        </ul>
    </div>
    <div class="col-xs-12 col-md-9">
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="col-xs-12 col-md-3">
                    <div class="thumbnail">
                        <img class="img-responsive" src="~/Content/Images/Products/@(product.Name).png">
                        <div class="caption text-center">
                            <p>
                                <b>Nazwa:</b> <span>@product.Name</span>
                            </p>
                            <p>
                                <b>Cena:</b> <span>@product.Price zł</span>
                            </p>
                            <p class="text-center">
                                @Html.ActionLink("Dodaj do koszyka", "AddToCart", "ShoppingCart", new { id = product.Id }, new { @class = "btn btn-info" })
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
